.wrapper

  = render 'shared/side_bar'

  .main
    .main-header
      .leftbox
        .leftbox__currentgroup
          = @group.name
        .leftbox__currentmenber Member: yoshimasa
      .rightbox
        = link_to "Edit", edit_group_path(@group), class: 'rightbox__btn'

    .main-message
      = render partial: 'message', collection: @messages

    .form
      = form_for [@group, @message], id: "new_message" do |f|
        = f.text_field :content, class: 'new_message__field', placeholder: ' type a message'
        .mask
          = f.label :image, class: 'mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new_message__submit'