.wrapper

  = render 'shared/side_bar'

  .main
    .main-header
      .leftbox
        .leftbox__currentgroup
          = @group.name
        .leftbox__currentmenber
          - @group.users.each do |user|
            %span
              = user.name
      .rightbox
        = link_to "Edit", edit_group_path(@group), class: 'rightbox__btn'

    .main-message
      = render partial: 'message', collection: @messages

    .form
      = form_for [@group, @message], id: "new_message" do |f|
        = f.text_field :content, class: 'form__field', placeholder: ' type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new_message__submit'